<section id="about">
  <p class="section__text__p1">Get To Know More</p>
  <h1 class="title">About Me</h1>
  <div class="section-container">
    <div class="section__pic-container">
      <img [src]="imagePath" alt="About Pic" class="about-pic">
    </div>
    <div class="about-details-container">
      <div class="about-container">
        <div class="details-container">
          <img [src]="experirence" alt="Experience Icon" class="icon">
          <h3>Experience</h3>
          <p>6+ Months <br> Data Analytics Intern</p>
        </div>
        <div class="details-container">
          <img [src]="education" alt="Experience Icon" class="icon">
          <h3>Education</h3>
          <p>Integrated M.Tech CSE spl in Data Science</p>
          <p>Vellore Institute Of Technology</p>
        </div>
      </div>
      <div class="text-container">
        <p>Greetings! I'm Sri HariHaran, a tech enthusiast specializing in Google Cloud Platform and Frontend Development. With hands-on experience in GCP services like Cloud Run, Cloud Data Fusion, BigQuery.On the frontend, I bring ideas to life using the most popular framework called Angular. Explore my portfolio to know more about the projects mentioned below. Together, we can transform visions into reality and create meaningful impact. Let's connect and explore how we can bring your ideas to life. Thank you for visiting, and I look forward to the opportunity of working together!</p>
      </div>
    </div>
  </div>
  <a href="#experience"><img [src]="arrow" alt="Arrow Icon" class="icon arrow"></a>
</section>