<section id="experience">
  <p class="section__text__p1">Explore My</p>
  <h1 class="title">Experience</h1>
  <div class="experience-details-container">

    <div class="about-container">

      <div class="details-containers">
        <h2 class="experience-sub-title">Frontend Development</h2>
        <div class="article-container">
          <article>
            <!-- <img [src]="checkMark" alt="Experience Icon" class="icon"> -->
            <div>
              <h3>HTML</h3>
              <p>Beginner</p>
            </div>
          </article>
          <article>
            <!-- <img [src]="checkMark" alt="Experience Icon" class="icon"> -->
            <div>
              <h3>CSS</h3>
              <p>Beginner</p>
            </div>
          </article>
          <article>
            <!-- <img [src]="checkMark" alt="Experience Icon" class="icon"> -->
            <div>
              <h3>Angular</h3>
              <p>Beginner</p>
            </div>
          </article>

        </div>
      </div>
      
      <div class="details-containers">
        <h2 class="experience-sub-title">Backend Development</h2>
        <div class="article-container">
          <article>
            <!-- <img [src]="checkMark" alt="Experience Icon" class="icon"> -->
            <div>
              <h3>Python</h3>
              <p>Intermediate</p>
            </div>
          </article>
          <article>
            <!-- <img [src]="checkMark" alt="Experience Icon" class="icon"> -->
            <div>
              <h3>Docker</h3>
              <p>Beginner</p>
            </div>
          </article>
          <article>
            <!-- <img [src]="checkMark" alt="Experience Icon" class="icon"> -->
            <div>
              <h3>Deployment</h3>
              <p>Beginner</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
  <a href="#projects"><img [src]="arrow" alt="Arrow Icon" class="icon arrow"></a>
</section>